<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RemoteOperation.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>0.1.0</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>C1F68BC4F10F43814476A3963022053289477D3B</string>
				<key>dateExpires</key>
				<string>25.12.2024</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C1F68BC4F10F43814476A3963022053289477D3B</string>
						<key>dateExpires</key>
						<string>25.12.2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>743VDKQNVW</string>
						<key>name</key>
						<string>Oguzhan Ozer</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C1F68BC4F10F43814476A3963022053289477D3B</string>
						<key>dateExpires</key>
						<string>25.12.2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>743VDKQNVW</string>
						<key>name</key>
						<string>Oguzhan Ozer</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C1F68BC4F10F43814476A3963022053289477D3B</string>
						<key>dateExpires</key>
						<string>25.12.2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>flutter_secure_storage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>743VDKQNVW</string>
						<key>name</key>
						<string>Oguzhan Ozer</string>
					</dict>
					<key>versionNumber</key>
					<string>6.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C1F68BC4F10F43814476A3963022053289477D3B</string>
						<key>dateExpires</key>
						<string>25.12.2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>geolocator_apple.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>743VDKQNVW</string>
						<key>name</key>
						<string>Oguzhan Ozer</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C1F68BC4F10F43814476A3963022053289477D3B</string>
						<key>dateExpires</key>
						<string>25.12.2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>image_picker_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>743VDKQNVW</string>
						<key>name</key>
						<string>Oguzhan Ozer</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C1F68BC4F10F43814476A3963022053289477D3B</string>
						<key>dateExpires</key>
						<string>25.12.2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>path_provider_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>743VDKQNVW</string>
						<key>name</key>
						<string>Oguzhan Ozer</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C1F68BC4F10F43814476A3963022053289477D3B</string>
						<key>dateExpires</key>
						<string>25.12.2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>url_launcher_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>743VDKQNVW</string>
						<key>name</key>
						<string>Oguzhan Ozer</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>743VDKQNVW.com.ozi.remoteoperation</string>
				<key>com.apple.developer.team-identifier</key>
				<string>743VDKQNVW</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>48da9be2-6384-4eba-93d5-052745642978</string>
				<key>dateExpires</key>
				<string>2.01.2024</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.ozi.remoteoperation</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>743VDKQNVW</string>
				<key>name</key>
				<string>Oguzhan Ozer</string>
			</dict>
			<key>versionNumber</key>
			<string>0.1.0</string>
		</dict>
	</array>
</dict>
</plist>
